/*body
{
	background-color:  #F3F3F3;
}*/

/*h1
{
	color: #707070;
	font-family: 'Roboto';
	text-align: center;
}

#niveau1
{
	position: absolute;
	width:18vw;
	height:21vh;
	background-color: white;
	left: 8vw;
	border-radius: 2vh;
	font-family: 'Roboto';
	text-align: center;
	color: #707070;
	font-family: 'Roboto';
}

#etoile_1
{
	position: absolute;
	left: 11vw;
	top: 34vh;
}

.chiffre
{
	font-size: 6vh;
	font-weight: bold;
	margin-bottom: 1vh;
	font-family: 'Roboto';
}

.checked 
{
    color: orange;
    text-shadow: 0px 1px 5px grey;
}

.test_etoile
{	
    font-size: 30px;
}

@font-face
{
font-family: 'Roboto';
src:url('Roboto-Light.ttf');
}*/



/* Victore */

h2
{
	text-align: center;
	padding-top: 5px;
	color: #00B2FF;
	letter-spacing: 0.1;
	font-weight:80;	
}

#progressBar
{
	margin:auto;
	width: 500px;
	height: 20px;
	border-radius: 10px ;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	background-color: white;
}

h1
{
	text-align: center;
	padding-top: 5px;
	color: #707070;
	letter-spacing: 0.1;
	font-weight:80;
}

#bar
{
	display: inline-block;
	margin: 0;
	background-color: #00B2FF;
	border-radius: 10px;
	margin: 3px;
	height: 15px;
	width: 0%;
	transition: width 1.5s;
}

#Main
{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	background-color:  #F3F3F3;
	width: 950px;
	height: 670px;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

body
{
	background-color: #e4e4e4;
	font-family: 'Roboto', sans-serif;
}

.niveau{
	border-radius: 5px;
	background-color: white;
	width: 140px;
	height: 140px;
	margin-left: 45px;
	margin-top: 50px;
}


.placement
{
	display: inline-block;
	width: 140px;
	height: 140px;
	margin: 10px 10px 65px 10px; /*ltrb*/
}

.placement_etoile
{
	margin-left: 48px;
	margin-top: 10px;
	width: 140px;
}


#ListeNiveau
{
	margin-left: 30px;
}

.checked 
{
    color: orange;
    text-shadow: 0px 1px 5px grey;
}

.test_etoile
{	
    font-size: 30px;
    margin-left: 0.8vw;
}

.color_non_check
{
	color: #707070;
}

.color_check
{
	color: #00B2FF;
}

.chiffre
{
	font-size: 4vh;
	font-weight: bold;
	margin-bottom: 1vh;
	font-family: 'Roboto';
	text-align: center;
	color: #707070;
	padding-top: 6vh;
}